      <!-- Swiper START -->
      <div class="swiper-container">
      	<!-- メイン表示部分 -->
      	<div class="swiper-wrapper">
      		<!-- 各スライド -->
      		<div class="swiper-slide"><%= image_tag 'analog-3931362_640.jpg' %></div>
      		<div class="swiper-slide"><%= image_tag 'camera-581126_640.jpg' %></div>
      		<div class="swiper-slide"><%= image_tag 'camera-349943_640.jpg' %></div>
      		<div class="swiper-slide"><%= image_tag 'camera-541213_640.jpg' %></div>
      	</div>
      	<div class="swiper-button-prev"></div>
      	<div class="swiper-button-next"></div>
      	<div class="swiper-pagination"></div>
      </div>
      <!-- Swiper END -->
    </div>

<script>
  var mySwiper = new Swiper('.swiper-container', {
  	effect: 'fade',
  	autoplay: {
  		delay: 3000,
  		stopOnLastSlide: false,
  		disableOnInteraction: false,
  		reverseDirection: false
  	},
  	navigation: {
  		nextEl: '.swiper-button-next',
  		prevEl: '.swiper-button-prev'
  	},
  	pagination: {
  		el: '.swiper-pagination',
  		type: 'bullets',
  		clickable: true
  	}
  });
</script>