<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>カメラ📷批評</h1>
      <p class="about-content-text text-center">
        既存製品や新製品について、お店で商品の詳細や、実際の使用感を、<br>
        店員から聞き辛いと感じたことはありませんか。<br>
        そんなあなたにとって、SNSはとても有用な情報源だと思います。<br>
        今一眼を使っていて、次はどのレンズ/ボディにするか迷っているあなたも、</br>
        みんなでコミュニケーションや使用感を共有して、<br>
        あなたのベストショットを支援したいと考えております。<br>
      </p>
      <p class="text-right">サイト創設者: 妻夫木 透</p>
    </div>
  </div>
</div>